:root {
  --bg-15: rgba(15, 15, 15, 1);
  --bg-20: rgba(20, 20, 20, 1);
  --bg-25: rgba(25, 25, 25, 1);
  --bg-30: rgba(30, 30, 30, 1);
  --bg-35: rgba(35, 35, 35, 1);
  --bg-40: rgba(40, 40, 40, 1);
  --bg-45: rgba(45, 45, 45, 1);
  --bg-50: rgba(50, 50, 50, 1);
  --bg-55: rgba(55, 55, 55, 1);
  --bg-60: rgba(60, 60, 60, 1);
  --bg-70: rgba(70, 70, 70, 1);
  --bg-80: rgba(80, 80, 80, 1);
  --bg-90: rgba(90, 90, 90, 1);
  --bg-100: rgba(100, 100, 100, 1);
  --bg-110: rgba(110, 110, 110, 1);
  --bg-120: rgba(120, 120, 120, 1);
  --bg-130: rgba(130, 130, 130, 1);
  --bg-140: rgba(140, 140, 140, 1);
  --bg-150: rgba(150, 150, 150, 1);

  --bg-white: rgba(255, 255, 255, 0.2);
  --bg-green: rgba(16, 185, 129, 0.1);
  --bg-yellow: rgba(185, 160, 16, 0.1);
  --bg-red: rgba(244, 63, 94, 0.1);
  --bg-blue: rgba(59, 130, 246, 0.1);

  --white: rgb(245, 245, 245);
  --gray: rgb(163, 163, 163);
  --gray-dark: rgb(115, 115, 115);
  --gray-light: rgb(201, 201, 201);

  --green: rgb(52, 211, 153);
  --green-dark: rgb(47, 180, 131);
  --green-light: rgb(31, 230, 157);
  --green-border: rgba(16, 185, 129, 0.2);

  --red: rgb(250, 93, 117);
  --red-dark: rgb(216, 78, 98);
  --red-light: rgb(247, 66, 93);
  --red-border: rgba(244, 63, 94, 0.2);

  --yellow: rgb(255, 204, 51);
  --yellow-dark: rgb(204, 163, 41);
  --yellow-light: rgb(255, 222, 102);
  --yellow-border: rgba(255, 204, 51, 0.2);

  --blue: rgb(59, 130, 246);
  --blue-dark: rgb(47, 102, 196);
  --blue-light: rgb(96, 181, 255);
  --blue-border: rgba(59, 130, 246, 0.2);

  --w3: 300;
  --w4: 400;
  --w5: 500;
  --w6: 600;
  --w7: 700;
  --w8: 800;
  --w9: 900;
  --s10: 10px;
  --s12: 12px;
  --s14: 14px;
  --s16: 16px;
  --s18: 18px;
  --s20: 20px;
  --s22: 22px;
  --s24: 24px;
  --s26: 26px;
  --s28: 28px;
  --s30: 30px;
  --s32: 32px;
  --s34: 34px;
  --s36: 36px;
  --s38: 38px;
  --s40: 40px;
  --s42: 42px;
  --s44: 44px;
  --s46: 46px;
}

body {
  background-color: var(--bg-15);
  color: var(--white);
  font-family: "Inter", sans-serif;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--bg-20);
}
::-webkit-scrollbar-thumb {
  background: var(--bg-40);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--bg-60);
}

.glass-effect {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.legal-content h2 {
  font-size: var(--s24);
  font-weight: var(--w7);
  margin-top: var(--s40);
  margin-bottom: var(--s16);
  color: var(--white);
}

.legal-content p {
  font-size: var(--s16);
  line-height: 1.6;
  margin-bottom: var(--s20);
  color: var(--gray-light);
}

.legal-content ul {
  margin-bottom: var(--s24);
  list-style-type: disc;
  padding-left: var(--s24);
  color: var(--gray-light);
}

.legal-content li {
  margin-bottom: var(--s12);
}

@font-face {
  font-family: 'Nexion';
  src: url('../public/Fonts/Nexion-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nexion';
  src: url('../public/Fonts/Nexion-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nexion';
  src: url('../public/Fonts/Nexion-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nexion';
  src: url('../public/Fonts/Nexion-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nexion';
  src: url('../public/Fonts/Nexion-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nexion';
  src: url('../public/Fonts/Nexion-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nexion';
  src: url('../public/Fonts/Nexion-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nexion';
  src: url('../public/Fonts/Nexion-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nexion';
  src: url('../public/Fonts/Nexion-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nexion';
  src: url('../public/Fonts/Nexion-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nexion';
  src: url('../public/Fonts/Nexion-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nexion';
  src: url('../public/Fonts/Nexion-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nexion';
  src: url('../public/Fonts/Nexion-VF.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}